// стили сетки календаря и заголовка календаря с днями недели
.header {
    padding-top: 10px;
    margin-left: 200px;
    display: flex;
    position: relative;
    top: 0px;
    width: 100vw;
}

.create-event-btn {
    margin-right: 50px;
}

.navigation {
    margin-left: 10px;
}

.calendar {
    overflow: auto;
    &__header {
        padding-left: 50px;
        display: flex;
        position: absolute;
        top: 50px;
        z-index: 1;
        background-color: white;
    }
    &__week-container {
        display: flex;
        margin-top: 10px;
    }
    &__time-scale {
        margin-top: 100px;
    }
    &__week {
        display: flex;
        margin-top: 100px;
    }
    &__time-slot {
        height: 60px;
        width: 120px;
        border-bottom: 1px solid, ;
        border-right: 1px solid;
        border-color: #8080804D;
    }
}

.calendar__day-label {
    height: 100px;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.day-label__day-name {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: darkgray;
    font-size: 15px;
    &.active {
        color: cornflowerblue;
    }
}

.day-label__day-number {
    border-radius: 100%;
    margin: auto;
    width: 40px;
    padding: 5px;
    display: block;
    color: darkgray;
    text-align: center;
    font-size: 25px;
    &.active {
        color: white;
        background-color: cornflowerblue;
    }
}

.time-slot {
    height: 60px;
    width: 50px;
    text-align: center;
    &__time {
        position: relative;
        top: -10px;
    }
}